.formInput {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.nameText {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  padding: 5px;
  color: white;
}

.nameText::placeholder {
  color: white;
}
